@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Party !</title>
</head>
<body>
    <div class="text-center">
        <h3>We're going to have an exiciting party. <br />(To do: Sell it better.Add Pictures or Something.)</h3>
        <h4>You're invited'</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">Rsvp Now</a>
    </div>
</body>
</html>