@model IEnumerable<string>

@{ 
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Feature</title>
</head>

<body>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>

</body>
</html>